*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    /* border: 1px solid skyblue; */
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-position: centr top;
    background-repeat: no-repeat;
}

.container{
    background-color: rgba(0,0,0,0.82);
    height: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
li {
    list-style: disc;
    line-height: 2;
}

.form_nav,
.li,
a {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: 0;
    color: black;
}

a {
    padding: 0.5em;
}
.active {
    font-weight: 700;
    font-size: 16px;
    background-color: #F2F2F5;
}

.form {
    border-radius: 0.5em;
    background-color: #F2F2F5;
    width: 25vw;
    height: 70vh;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.form_nav {
    background-color: white;
    border-radius: 0.5em;
}
form{
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}
.title{
    display: flex;
    line-height: 4;
    align-items: center;
}
.title p{
    font-weight: bolder;
}
input{
    width: 100%;
    height: 7vh;
    padding: 1em;
    border: 0;
}
button{
    background-color: #E83D8E;
    color: white;
    border-radius: 50px;
    margin-top: 1em;
    border: 0;
    width: 100%;
    border-radius: 50px;
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    margin-top: 1.5em;
}
i{
    font-size: 1.5em;
    border: 0;
    margin-right: 1em;
}
.for_pass{
    margin: 0.5em;
}


